<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitszse05.i_accountv2"
    android:versionName="1.0.0.1029"
    >
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
